<h2>You've successfully signed in through LinkedIn!</h2>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  
  <!-- IT'S DISPLAYING A PASSWORD ERROR WHEN USER GETS TO PAGE -->
  <%#= devise_error_messages! %> 
  
  <h2> <%= flash[:notice] = "Please create a password." %> </h2>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%#= render "devise/shared/links" %>
