<h1>Companies</h1>
<ul>
  <% @companies.each do |c| %>
    <li> <%= c.name %> </li>
  <% end %>
</ul>

<h1>Industries</h1>
<ul>
  <% @industries.each do |i| %>
    <li> <%= i.name %> </li>
  <% end %>
</ul>

<h1>Locations</h1>
<ul>
  <% @locations.each do |l| %>
    <li> <%= l.postalcode %> </li>
  <% end %>
</ul>

<h1>People</h1>
<ul>
  <% @people.each do |p| %>
    <h4> <li> <%= p.firstname %> <%= p.lastname %></li></h4>
    <li> <%= p.linkedin_id %> </li>
    <li> <%= p.linkedin_url %> </li><br>
    
    <li>  SCHOOLS: </li>
    <% p.schools.each do |s| %>
       <li> <%= s.name %> </li>
    <% end %>
    <br>

    <li>  DEGREES: </li>
    <% p.educations.each do |e| %>
      <li> <%= e.kind %> </li>
      <li> <%= e.grad_yr %> </li>
      <!-- <li> <%#= e.school %> </li> --> <!-- NOT WORKING -->
    <% end %>
    <br>
    
    <li>  JOBS: </li>
    <% p.jobtitles.each do |j| %>
       <!-- <li> <%#= j.company %> </li> --> <!-- NOT WORKING -->
       <li> <%= j.title %> </li>
       <li> <%= j.start_date %> to <%= j.end_date %> </li>
    <% end %>
  -----------------------------------------------------------
  <% end %>
</ul>