<!DOCTYPE html>
<html>
  <head>
    <title>Futureme</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <style>
      title {
        font-style: sans-serif !important;
      }
    </style>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    <% end %>
    <%= yield %>
  </body>
</html>
